.jumbotron{
	background-image: url(img/everestmt.jpg);
	background-size: cover;
	height:800px;
	text-align:center;
	margin-top:-120px;
}
.jumbotron .display-4{
	color: black;
	margin-top: 200px;
}
.jumbotron p {
	color: black;
	font-size: 25px;
}
.jumbotron hr {
	border-color: white;
	width: 70px;
	border-width: 3px;
}
.jumbotron .btn {
	background-color: black;
	 
}
